@use "./constants.scss" as c;

// @media (prefers-color-scheme: dark) {
// 	body {
// 		color: var(--c-grey-100);
// 	}
// }

body {
	display: flex;
	justify-content: center;
}

.mw-editsection,
.hide-when-compact,
.ambox {
	display: none;
}

.infobox {
	background: c.$whiteish;
	border-radius: 5px;
	padding: 0.2em;
	float: right;
	clear: right;
	line-height: 1.5em;
	max-width: 22em;
	width: inherit;
	
}

.infobox-image {
	text-align: center;
}


// @media (prefers-color-scheme: dark) {
// 	.infobox {
// 		background-color: inherit;
// 	}
// }

img {
	border: 0;
	vertical-align: middle;
	text-align: center;
	max-width: 100%;
	border-radius: 5px;
}

hr {
	height: 1px;
	background-color: var(--c-grey-200);
	border: 0;
	margin: 0.2em 0;
}

.siteSub {
	margin-top: -1em;
	//font-size: 92%;
	margin-bottom: 1.2em;
}

.wikitable {
	max-width: 80vw !important;
}

h1,
h2 {
	border-bottom: 1px solid var(--c-grey-200);
	font-weight: normal;
	font-family: 'Linux Libertine', Georgia, Times, serif;
}

h3,
h4,
h5,
h6 {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: c.$blue;
	background: none;
	word-break: normal;

	&:focus,
	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: c.$indigo;
	}
}

// @media (prefers-color-scheme: dark) {
// 	a,
// 	a:visited {
// 		color: inherit;
// 		text-decoration: underline;
// 	}
// }

.tright {
	clear: both;
	float: none;
}

.gallery {
	list-style-type: none;
	padding: 0;
}

.gallerybox,
.gallery li {
	display: inline-block;
}

.thumb {
	background-color: var(--c-grey-100);
	border: 1px solid var(--c-grey-200);
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	.thumb {
		background-color: inherit;
	}
}

.thumbinner {
	padding: 3px;
	//font-size: 94%;
}

@media (max-width: 440px) {
	.infobox {
		margin: 0;
		float: none;
		width: unset !important;
		max-width: unset;
	}
}